@font-face {
  font-family: "Film P3";
  src: url("../fonts/FilmP3Bold.eot");
  src: local("../fonts/Film P3 Bold"), local("FilmP3Bold"), url("fonts/FilmP3Bold.eot") format("embedded-opentype"), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff"), url("../fonts/FilmP3Bold.ttf") format("truetype"), url("../fonts/FilmP3Bold.svg#FilmP3Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-300.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
:root {
  --prymary-font: "Montserrat", sans-serif;
  --logo-font: "Film P3", sans-serif;
  --subtitle-font: "Times New Roman", Times, serif;
  --bcg-color: #FFFDEE;
  --bcg-secondary-color: #F0ECD6;
  --bcg-footer-color: #0E0C07;
  --bcg-white-color: #FFFFFF;
  --text-primary-color: :#7A7A7A;
  --text-logo-color: #F0ECD6;
  --text-dark-color: #5F5F5F;
  --text-accent-color: #F3C653;
  --text-white-color: #FFFFFF;
  --text-black-color: #000000;
  --text-brown-color: #C79002;
  --text-subtitle-color: #B4B4B4;
  --text-map-color:#E5E5E5;
  --button-color: #000000;
  --button-accent-color: #FFFFFF;
}

body {
  font-family: var(--prymary-font);
  font-size: 16px;
  letter-spacing: 0.02em;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 414px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1023px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 85px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-restaurant__subtitle {
  font-family: var(--subtitle-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--text-subtitle-color);
  letter-spacing: 0;
}
@media screen and (max-width: 1023px) {
  .main-restaurant__subtitle {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .main-restaurant__subtitle {
    font-size: 32px;
    line-height: 1.16;
  }
}

.restaurant-details__text, .main-restaurant__text {
  font-family: var(--prymary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}

.main-restaurant__text--dark {
  color: var(--text-dark-color);
}
@media screen and (max-width: 1023px) {
  .main-restaurant__text--dark {
    margin-bottom: 382px;
    max-width: 258px;
  }
}

.main-restaurant__text--brown {
  color: var(--text-brown-color);
}
@media screen and (max-width: 1023px) {
  .main-restaurant__text--brown {
    margin-bottom: 0;
    max-width: 163px;
  }
}

.main-restaurant__image {
  -webkit-box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.main-restaurant__image--taller {
  position: absolute;
  top: 210px;
  right: 15px;
}

.contacts__name, .restaurant-details__name, .main-restaurant__name {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
}

.logo {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  letter-spacing: 0.3em;
}

.logo--white {
  color: var(--text-white-color);
  font-size: 36px;
  line-height: 1.08;
}
@media screen and (max-width: 1023px) {
  .logo--white {
    max-width: 114px;
    padding-top: 16px;
    padding-bottom: 9px;
  }
}
@media screen and (min-width: 1024px) {
  .logo--white {
    max-width: 127px;
    font-size: 40px;
    line-height: 1.08;
  }
}
@media screen and (min-width: 1280px) {
  .logo--white {
    margin-right: 96px;
  }
}

.logo--accent {
  font-size: 40px;
  line-height: 1.08;
  color: var(--text-accent-color);
}
@media screen and (max-width: 1023px) {
  .logo--accent {
    max-width: 127px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .header {
    max-width: 1024px;
    height: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__container {
    gap: 87px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .navigation__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__list {
    gap: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__list {
    margin-right: 59px;
  }
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1023px) {
  .navigation__item {
    padding-top: 28px;
    padding-bottom: 12px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 6px;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__item {
    padding: 30px 0;
  }
}

.navigation__link {
  font-family: var(--prymary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-accent-color);
}
@media screen and (min-width: 1024px) {
  .navigation__link {
    margin-right: 32px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.navigation__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1024px) {
  .navigation__contacts {
    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}

.navigation__icon {
  fill: var(--text-accent-color);
}
@media screen and (min-width: 1024px) {
  .navigation__icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .navigation__phone {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__phone {
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: var(--text-white-color);
  }
}

.navigation__phone--long {
  margin-right: 16px;
}

.header__networks {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__networks {
    display: block;
  }
}

.brand-name {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
}
@media screen and (max-width: 1023px) {
  .brand-name {
    margin-bottom: 12px;
  }
}

.brand-name {
  margin-left: auto;
  margin-right: auto;
  max-width: 303px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--text-white-color);
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .brand-name {
    max-width: 404px;
    font-size: 128px;
    line-height: 1.08;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .brand-name {
    margin-bottom: 32px;
  }
}

.button {
  padding: 13px 24px 11px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-accent-color);
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #FFFFFF;
  border-radius: 25px;
}

.button-link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-accent-color);
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #FFFFFF;
  border-radius: 25px;
}

.hero {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding-top: 181px;
  padding-bottom: 20px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/hero-mob.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/hero-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/hero-mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/hero-mob@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/hero-mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 414px) {
  .hero {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    max-width: 1024px;
    padding-top: 188px;
    padding-bottom: 15px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/hero-tab.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/hero-tab.jpg);
  }
}
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/hero-tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/hero-tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1280px;
    padding-top: 164px;
    padding-bottom: 64px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/hero-desk.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/hero-desk.jpg);
  }
}
@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/hero-desk@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/hero-desk@2x.jpg);
  }
}
@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/hero-desk@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/hero-desk@2x.jpg);
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 303px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--text-white-color);
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    max-width: 404px;
    font-size: 128px;
    line-height: 1.08;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 32px;
  }
}

.hero__subtitle {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-white-color);
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 64px;
  }
}

.hero__text {
  margin-bottom: 113px;
  font-family: --subtitle-font;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 113px;
  text-transform: uppercase;
  color: var(--text-white-color);
}
@media screen and (min-width: 1024px) {
  .hero__text {
    font-size: 36px;
    line-height: 1.14;
    margin-bottom: 137px;
  }
}

@media screen and (max-width: 1023px) {
  .hero__list {
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .hero__item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero__box {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__networks {
    display: none;
  }
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 112px;
  height: 24px;
}

.networks__icon {
  fill: rgba(243, 198, 83, 0.7);
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 6px;
  width: 210px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .map {
    width: 285px;
    padding: 8px;
    padding-left: 10px;
  }
}

.map__container {
  position: absolute;
  right: 15px;
  top: 64px;
}
@media screen and (min-width: 1024px) {
  .map__container {
    position: static;
  }
}

.map__icon {
  fill: var(--text-accent-color);
}

.map__text {
  text-align: left;
  font-family: var(--prymary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--text-map-color);
}
@media screen and (min-width: 1024px) {
  .map__text {
    font-size: 16px;
  }
}

.main-restaurant {
  position: relative;
  padding-top: 16px;
  padding-bottom: 20px;
  max-width: 414px;
  margin: 0 auto;
  background-color: var(--bcg-color);
}

.main-restaurant__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1023px) {
  .main-restaurant__name {
    margin-bottom: 12px;
  }
}

.restaurant-details {
  padding-top: 24px;
  padding-bottom: 40px;
  height: 100%;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/bcg-mob1.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/bcg-mob1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .restaurant-details {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/bcg-mob1@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/bcg-mob1@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .restaurant-details {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/bcg-mob1@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/bcg-mob1@2x.jpg);
  }
}
@media screen and (min-width: 414px) {
  .restaurant-details {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant-details {
    max-width: 1024px;
    padding-top: 188px;
    padding-bottom: 15px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/bcg-tab1.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/bcg-tab1.jpg);
  }
}
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .restaurant-details {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/bcg-tab1@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/bcg-tab1@2x.jpg);
  }
}
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .restaurant-details {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/bcg-tab1@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/bcg-tab1@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .restaurant-details {
    max-width: 1280px;
    padding-top: 164px;
    padding-bottom: 64px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/bcg-desk1.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/bcg-desk1.jpg);
  }
}
@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .restaurant-details {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/bcg-desk1@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/bcg-desk1@2x.jpg);
  }
}
@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .restaurant-details {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../src/images/main/bcg-desk1@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../src/images/main/bcg-desk1@2x.jpg);
  }
}

.restaurant-details__wrap {
  margin-left: 125px;
}

.restaurant-details__name {
  color: var(--text-white-color);
  margin-bottom: 12px;
}

.restaurant-details__title {
  font-family: --prymary-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-white-color);
  margin-bottom: 20px;
}

.restaurant-details__text {
  color: #BABABA;
  max-width: 259px;
  margin-bottom: 48px;
}

.restaurant-details__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.restaurant-details__button {
  padding: 14px 24px;
}

.restaurant-details__button--link {
  white-space: nowrap;
  max-width: 236px;
  padding: 14px 32px;
}

.contacts__container {
  background: var(--bcg-color);
  padding-top: 36px;
  padding-bottom: 32px;
}

@media screen and (max-width: 1023px) {
  .contacts__name {
    margin-bottom: 12px;
  }
}

.contacts__subtitle {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  color: var(--text-dark-color);
}
@media screen and (max-width: 1023px) {
  .contacts__subtitle {
    margin-bottom: 16px;
  }
}

.contacts__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-brown-color);
}

.contacts__text--trasparent {
  color: transparent;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.contacts__list :first-child {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 22px;
}
@media screen and (max-width: 1023px) {
  .contacts__list {
    margin-bottom: 32px;
  }
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 9px 8px 7px;
  background: var(--bcg-white-color);
  border: 0.5px solid #F3C653;
  border-radius: 2px;
}

.contacts__link--map {
  width: 260px;
  height: 76px;
}

.contacts__phone {
  font-size: 14px;
  line-height: 1.21;
  color: #494848;
}

.contacts__adress {
  width: 183px;
  height: 61px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #494848;
}

.contacts__icon {
  fill: var(--text-brown-color);
}

.contacts__map {
  position: relative;
  max-width: 384px;
  height: 220px;
  overflow: hidden;
  border: 1px solid #BABABA;
  -webkit-box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.contacts__iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer {
  background: var(--bcg-footer-color);
  padding: 40px 30px;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .footer {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1023px) {
  .logo__box {
    margin-left: 29px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  .footer__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .footer__list {
    margin-bottom: 32px;
  }
}

.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-accent-color);
  display: block;
}/*# sourceMappingURL=main.css.map */