:root {
    --prymary-font: 'Montserrat', sans-serif;
    --logo-font: 'Film P3', sans-serif;
    --subtitle-font: 'Times New Roman', Times, serif;

    --bcg-color: #FFFDEE;
    --bcg-secondary-color: #F0ECD6;
    --bcg-footer-color: #0E0C07;
--bcg-white-color: #FFFFFF;

     
    --text-primary-color: :#7A7A7A;
    --text-logo-color: #F0ECD6;
    --text-dark-color: #5F5F5F;
    --text-accent-color: #F3C653;
    --text-white-color: #FFFFFF;
    --text-black-color: #000000;
    --text-brown-color: #C79002;
    --text-subtitle-color: #B4B4B4;
    --text-map-color:#E5E5E5;

    --button-color: #000000;
    --button-accent-color: #FFFFFF;
}